 /* body {
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
  }
  
  .container h1,
  .container p {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
   }   */
   body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
  }
  
  .image-grid img {
    max-width: 100%; /* Ensure images do not overflow their container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow effect */
  }
  