/* General styles */
.new-employee-button-container {
    margin-bottom: 20px;
  }
  
  mat-table {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  /* Header row styles */
  .mat-header-row {
    background-color: #333;
    color: #fff;
  }
  
  .mat-header-cell {
    font-weight: bold;
    padding: 10px;
  }
  
  /* Data row styles */
  .mat-row {
    background-color: #fff;
  }
  
  .mat-cell {
    padding: 10px;
  }
  
  /* Button styles */
  .mat-raised-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mat-raised-button.mat-primary {
    background-color: #007bff;
  }
  
  .mat-raised-button.mat-warn {
    background-color: #dc3545;
  }
  
  .mat-raised-button:hover {
    background-color: #555;
  }
  
  .mat-raised-button.mat-primary:hover {
    background-color: #0069d9;
  }
  
  .mat-raised-button.mat-warn:hover {
    background-color: #c82333;
  }