<!-- <div class="container">
    <h2>Login</h2>
    <form >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                  placeholder="Enter a valid email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="form3Example4" class="form-control form-control-lg" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                  placeholder="Enter password" />
      </div>
      <button type="submit" (click)="login()"  class="btn btn-primary" >Login</button>
    </form>
  </div> -->
  <!-- <div class="flex justify-center"> -->
  <!-- <div class="component-container">
    <mat-card class="w-96 p-4">
      <h4 class="text-xl">Login</h4>
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
        <div class="w-full flex justify-center">
          <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
        </div>
      </form>
    </mat-card>
  </div> -->
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  
  
     
     
    