<div class="container">
  <h2>Available Turfs</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let turf of turfs">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ turf.name }}</h5>
          <p class="card-text">Location: {{ turf.location }}</p>
          <p class="card-text" *ngIf="turf.availability; else unavailable">Available</p>
          <ng-template #unavailable>
            <p class="card-text text-danger">Unavailable</p>
          </ng-template>
          <button
            class="btn btn-primary"
            (click)="bookTurf(turf.id)"
            [disabled]="!turf.availability"
            (click.disabled)="showUnavailableAlert()"
          >
            Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>